* {
  font-family: "Montserrat";
  font-size: var(--fontsize);
  line-height: var(--fontsize);
  margin: 0; padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1em;
  line-height: 1.25em;
}

html[stylemode="dark"]{
  
}
html[stylemode="light"]{
  --background-color: #FCF4E1;
  --text-color: #191512;
  --wb-color: #5C4D22;
  --wbmrx-color: #FFD67C;
}
html[stylemode="oled"]{
  
}
html[stylemode="white"]{
  
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.wb {
  color: var(--wb-color);
}
.wbmrx {
  color: var(--wbmrx-color);
}

blockquote, p {
  hyphens: auto;
  text-align: justify;
}
cite {
  display: block;
  font-size: 0.75em;
  opacity: 0.5;
}

h1, h2, h3, h4, h5, h6,
blockquote, p {
  margin-top: 10px;
}

main {
  padding: 10px;
}

h1 { font-size: 2.00em; }
h2 { font-size: 1.80em; }
h3 { font-size: 1.60em; }
h4 { font-size: 1.40em; }
h5 { font-size: 1.20em; }
h6 { font-size: 1.00em; }

header {
  background: #000;
  position: sticky; top: 0;
}