* {
  font-family: "Montserrat";
  font-size: var(--fontsize);
  line-height: var(--fontsize);
  margin: 0; padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1em;
  line-height: 1.25em;
}

html[stylemode="dark"]{
  
}
html[stylemode="light"]{
  --background-color: #FCF4E1;
  --text-color: #191512;
  --wb-color: #AAA;
  --wbmrx-color: #AAA;
}
html[stylemode="oled"]{
  
}
html[stylemode="white"]{
  
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.wb    { color: var(--wb-color);    font-style: "Roboto Slab"; }
.wbmrx { color: var(--wbmrx-color); font-style: "Roboto Slab"; }

blockquote, p { hyphens: auto; text-align: justify; }
cite {
  display: block;
  font-size: 0.75em;
  opacity: 0.5;
}

h1, h2, h3, h4, h5, h6,
blockquote, p {
  margin-top: 10px;
}

main {
  padding: 10px;
}

h1 { font-size: 2.00em; line-height: 1.25em; }
h2 { font-size: 1.80em; line-height: 1.25em; }
h3 { font-size: 1.60em; line-height: 1.25em; }
h4 { font-size: 1.40em; line-height: 1.25em; }
h5 { font-size: 1.20em; line-height: 1.25em; }
h6 { font-size: 1.00em; line-height: 1.25em; }

header {
  background: #000;
  color: white;
  font-size: 20px;
  padding: 10px;
  position: sticky; top: 0;
}
header a {
  color: white;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}
#toc {
  background: #000;
  font-size: 0.85em;
  overflow-y: auto;
  padding: 10px;
  
  position: absolute;
  width: 100%; height: 100vh;
  left: 0;
  
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#toc li.h1 { padding-left:  0px; }
#toc li.h2 { padding-left:  0px; }
#toc li.h3 { padding-left:  5px; }
#toc li.h4 { padding-left: 10px; }
#toc li.h5 { padding-left: 15px; }
#toc li.h6 { padding-left: 20px; }

.hidden {
  display: none;
}