* {
  font-family: "Montserrat";
  font-size: var(--fontsize);
  line-height: var(--fontsize);
}

body {
  --fontsize: 1em;
}

html[stylemode="dark"]{
  
}
html[stylemode="light"]{
  --background-color:
}
html[stylemode="oled"]{
  
}
html[stylemode="white"]{
  
}

body {
  background-color: var(--background-color);
}